@font-face {
	font-family: 'Edo SZ';
	src: url(../../assets/fonts/EdoSZ.woff2) format('woff2'),
	url(../../assets/fonts/EdoSZ.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}